<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCkX1t7EOGBhdfb6q8LZA9yDhX1lCRGU38</string>
	<key>GCM_SENDER_ID</key>
	<string>206584840651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>m.worldbrainapp</string>
	<key>PROJECT_ID</key>
	<string>worldbrain-5c81a</string>
	<key>STORAGE_BUCKET</key>
	<string>worldbrain-5c81a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206584840651:ios:e963bba515bff6f77e764e</string>
</dict>
</plist>